body {
  background-color: rgb(9,112,181);
  background: radial-gradient(circle, rgba(9,112,181,1) 5%, rgba(113,41,162,1) 30%, rgba(81,62,169,1) 44%, rgba(22,102,182,1) 82%, rgba(130,21,186,1) 98%);
}

header {
  background-color: black;
  font-size: 5rem;
  color: rgb(9,112,181);
  text-align: center;
  padding-bottom: 2rem;
}

.container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
}