.container {
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.formContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5rem;
    max-width: 30%;
    
}

.searchbar {
    padding: 1rem;
    font-size: inherit;
    border-radius: 5px;
    border: 2px solid black;
    flex: auto;
}

.searchbutton {  
    padding: .75rem 2rem;
    font-size: 1rem;  
    border-radius: 1rem;
    font-weight: 600;
}

section {
    flex: auto;
}

section h2 {
    text-align: center;
    font-size: 2rem;
}

.songs {
    font-size: 1.25rem;
    padding: 5px;
}

.addbutton {
    margin: auto 5px;
    font-size: 1rem;
    font-weight: 600;
}

.removebutton {
    margin: auto 5px;
    font-size: 1rem;
    font-weight: 600;
}

.card {
    display: flex;
    flex: 1 1 auto;    
    flex-direction: column;
    border: 2px solid black;
    padding: 5px;
    margin: 25px;
}

.songlist {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    background-color: lightblue;
    border: 1px solid black;
    margin: 5px;
    height: 75px;
}
