.results {
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid black;
    height: 80px;
    width: 45%;
    color: white;
}
.card {
    display: flex;
    flex-direction: column;
}
.card h3, p {
    margin: 2px;
}
.addButton {
    margin:auto 0;
}